html,
body {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  position: relative;
  transition: all 350ms;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.5rem;
  color: #e30613;
  font-weight: 800;
}

h6 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

header {
  padding: 2rem 2rem;
  background-color: #e3061511;
  color: black;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  max-width: 1400px;
  margin: auto;
}

main {
  padding: 2rem 0.75rem;
  display: flex;
  gap: 30px;
  max-width: 1400px;
  margin: auto;
}

.logo-cart {
  max-width: 80px;
  cursor: pointer;
}

.logo-librairie {
  max-width: 800px;
}

footer {
  padding: 2rem 2rem;
  align-self: center;
  align-content: center;
  text-align: center;
  background-color: #e3061511;
  color: black;
}
