.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    padding: 0.5rem;

    & .card {
        position: relative;
        flex-basis: calc(33% - 1rem);
        display: flex;
        flex-direction: column;

        border: 1px solid #f0f0f0;
        box-shadow: 0 0 0px rgba(0, 0, 0, 0.1);
        text-align: start;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        & .img-container {
            flex: auto;
            flex-basis: 70%;

            & img {
                width: 100%;
                object-fit: cover;
            }
        }
        & .like-btn {
            position: absolute;
            top: 0.25rem;
            right: 0.25rem;
            align-self: flex-end;
            font-size: 3rem;
            transition: all 0.3s ease-in-out;
            &:hover {
                transform: scale(1.1);
            }
        }

        & .infos-container {
            flex: auto;
            flex-direction: column;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.5rem;

            & .infos__prix {
                font-size: 1.5rem;
                font-weight: bold;
                color: #E30613;
            }

            & .infos__titre {
                font-size: 1.2rem;
                color: #000;
                padding: 0.25rem 0 1rem;
            }
        }

        &.favoris {
            border: 2px solid #E30613;
        }

        &:hover {
            background-color: #e3061511;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }

        &.invisible {
            display: none;
        }
    }
}
